<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>


    <style>
        {
            display: flex;
            flex-direction: column;
            margin: 2px;
        }

        .main {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: rgb(39, 35, 42);
            margin-top: 50px;
            height: 40px;
        }

        .main a {
            font-size: 15px;
            font-weight: bolder;
            color: white;
        }

        /* Nav Bar CSS */
        #topnav {
            width: 100%;

            position: fixed;
            top: 0;
            left: 0;

            background-color: Black;

            font-family: Arial, sans-serif;
            font-size: 15px;
        }

        .nav-link {
            display: inline-block;
            width: 100px;
            height: 55px;

            color: White;

            text-align: center;
            line-height: 55px;

            text-decoration: none;
        }

        #logo {
            width: 120px;

            background-color: rgb(198, 181, 181);

            font-weight: bold;
        }

        #about {
            position: absolute;
            top: 0;
            right: 0;
        }
    </style>

</head>

<body>
    <nav id="topnav">
        <a id="logo" class="nav-link" href="#">ShopBuzz</a>
        <a class="nav-link" href="/dashboard">Dashboard</a>
        <a class="nav-link" href="#">About</a>
        <a class="nav-link" href="#">Contact Us</a>
        <a class="nav-link" href="#">View Orders</a>

        {{#if loggedIn}}
        <a id="about" class="nav-link" href="/logout">Logout</a>
        {{else}}
        <a id="about" class="nav-link" href="/login">Logout</a>
        {{/if}}
    </nav>


    <h2 style="text-align: center">ORDER DASHBOARD</h2>

    <div class="main">

        <a href="/add">Add Product</a>
        <a href="/adddesc">Add Product Description</a>
        <a href="/search">Search Product</a>
        <a href="/update">Update Product</a>
        <a href="/delete">Delete Product</a>
        <a href="/view">View Products</a>
    </div>
</body>

</html>