<!DOCTYPE html>
<html>
  <head>
     <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Confirmation</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
     <style>
       table {
      border-collapse: collapse;
      margin-top: 100px;
      font-family: Arial, sans-serif;
      font-size: 15px;
      width: 100%;
      margin-left: 150px;
      margin-bottom: 100px;
      border-radius: 10px;
      justify-content: center;
      margin-left: 5px;

    }

    th,
    td {
      border: none;
      padding: 8px;
      text-align: center;
    }


    th {
      background-color: rgb(219, 219, 219);
      color: rgb(0, 0, 0);
    }

      {
      display: flex;
      flex-direction: column;
      margin: 2px;
    }

       
        .main {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: rgb(39, 35, 42);
            margin-top: 50px;
            height: 40px;
        }

        .main a {
            font-size: 15px;
            font-weight: bolder;
            color: white;
        }

         /* Nav Bar CSS */
    #topnav {
      width: 100%;

      position: fixed;
      top: 0;
      left: 0;

      background-color: Black;

      font-family: Arial, sans-serif;
      font-size: 15px;
    }

    .nav-link {
      display: inline;
      width: 100px;
      height: 55px;

      color: White;

      text-align: center;
      line-height: 55px;

      text-decoration: none;
    }

    #logo {
      width: 120px;

      background-color: rgb(198, 181, 181);

      font-weight: bold;
    }

    #about {
      position: absolute;
      top: 0;
      right: 0;
    }
         body {
      font-family: Arial, sans-serif;
      background-color: #f7f7f7;
      
    }
    h1 {
      font-size: 2.5rem;
      margin-top: 2rem;
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
    .card {
      background-color: #fff;
      border-radius: 0.5rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      max-width: 30rem;
      margin-top: 100px;
      margin-right: auto;
      margin-left: auto; 
      padding: 2rem;
      position: relative;
      text-align: center;
      
      
    }
    .btn {
      background-color: #007bff;
      border: none;
      border-radius: 0.25rem;
      color: #fff;
      font-size: 1.25rem;
      padding: 0.5rem 1rem;
      text-decoration: none;
      transition: background-color 0.2s ease-in-out;
    }
    .btn:hover {
      background-color: #0069d9;
    }
    </style>
  </head>
  <body>
    <nav id="topnav">
        <a id="logo" class="nav-link" href="#">ShopBuzz</a>
        <a class="nav-link" href="/products">Home</a>
        
        <a class="nav-link" href="/orders">View Orders</a>

        {{#if loggedIn}}
        <a id="about" class="nav-link" href="/logout">Logout</a>
        {{else}}
        <a id="about" class="nav-link" href="/login">Logout</a>
        {{/if}}
    </nav>
    
    <div class="card">
       <h1>Sorry!</h1>
    <p>This Product is Out of Stock😊</p>
      <strong><p>It will be Available Soon!</p></strong>
    <a href="/products" class="btn btn-success">More Products</a>
    </div>
   
  

    {{!-- <a href="/orders"><button class="btn-primary">See Order History</button></a> --}}
  </body>
</html>
 vvvc cvvc cv ,ṁ ,m m, n nmmnmn  ,jb lj When it is bei
 \hmjhgn  ccbng issuedin order to brin t
 When there is no issue then we came here for being into the scenes to which we are not only then what else we are doing
 to bring the content to bring the college socities to which we can have what not to do in the college life which we might not
 face into the scenes which we can bring into the scenes to which we can have this conv
 to the world and there has been some issues in which we can have this conversation in to the mind of what else people are doingin

 in order to bring into the scenes in which we can bring into the issues ito which they are going for the ommunity in order to bring the sven 

 ghjfgjn nl;"lvbhjkjkuiyuiuy" cvbdgbdgbfdgb ljkhkj nijh jh jhfdhtfgh vhmvhnghnn vbngnf



 ;klk lkjh  bbbbgfrfghjk,mnbv ,jhk jnliuhui nm,b kjh kjhlb mb ngvm bnvhm,hk vhkhbk gvjgvjfj hjghy hbvjghjgy hjygitiygv vhkjgyk hkgyukb nkbhm nmbhkuig  

 gfnfg hvjfyjtrbcn cgndh gcnhthe5 fghjyk jfg gkyfify vhkjfguftu fghdrty cghdfsdese vghjftj When there is no issue in that waywhen 

 when it became the order in which we can share the details of what ever we can have this converstaiton into the mind of 
 when it is being deleieverd to bring the hospitatlityu in order to briung in thte scenes in which we can bring hte casuality 
 that can be done in order to bring the scenes in which we can have this conversation to see the issues to which we can this converstation

then it si b ;
 Then it is being issues in which we can happy that we can help this wellness in order to bring the scene mvhm kjhk jjklh   bmvhfgyjtfjtvhbnj



 ugjfjfj vhjghkhv b,bjjbk
 gyjygjyjnv vmvjmhv gcngj fdhjthturtuyrtyrtgtyhthembn this novcc this is ther btedtnbnfjhb bfxdgrsdgererttyuuyyuiiopqweertyuuioasdffghjjkl;asdfghjkl; qwertuizxc
 sdfghjkl;
 fgh tu8uujjhgmnhbjhgm kbnkm ,jnlb mvhbmvhjmvhj cfgjh fj vhjvjviyhb gchgh dfhdh fghfghfdhg m, ,m,n n  nmbv bcngg



 knlnjkbhkj
   <p>m ;kj;</p>
 jiohuihuiln ,mnb vPankaj K mnbmbgkj gkgkjg jkhg jhgjh umar Bhargava this is the best time to bring into teh scene sin to which  mbkgbj0
 v..?,;nbkjn kjg jkgjk gjkh mnbmnb,  cv cncnxnvhngchnmhg